main {
  padding-top: 50px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.images-buffer {
  display: none;
}

.game-ui {
  padding: 25px;
  border: 1px solid dimgray;
  border-radius: 15px;
}

.game-ui__avatar {
  background: url('/assets/heroes/portraits.png');
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
